.banner{
    position: relative;
    min-height: 620px;
    display: flex;
    justify-content: center;
    .media{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        .image{
            width: 100%;
            height: 100%;
        }
    }
    .bcontainer{
        height: 100%;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .flex{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .content{
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: center;
    }
    .paddingtop{
        padding-top: 1.3rem;
    }
    .cta {
		background-color: white;
		color: black;
		font-size: 20px;
		font-weight: bold;
		text-decoration: none;
		border-radius: 85px;
		padding: 9px 27px;
		border: none;
		display: inline-block;
		margin-top: 2rem;
		&:focus {
			outline: none;
			box-shadow: none;
		}

		&:hover {
			opacity: .7;
		}
	}
  
}