.review{
    background: black;
    padding: 2px 16px;
    display: block;
    border-left:  8px solid black;
    color: white;
    text-decoration: none;
    &:hover{
        color: rgb(72, 223, 173);
        border-left:  8px solid rgb(72, 223, 173); 
    }
}
