html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1{
  color: rgb(72, 223, 173);
  font-weight: bold !important;
}

.border-radius-1{
  border-radius: 5px !important;
}
.border-radius-2{
  border-radius: 20px !important;
}